* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

html {
  font-size: 125%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #4B546C;
}

h1, h2 {
  color: #DFCBCF;
}

h1, h2, h3 {
  font-family: 'Oxygen', sans-serif;
}

header > p, footer > p {
  color: #FFFFFF;
}

header, footer {
  padding: 30px 50px;
}

/*header*/

header > p {
  padding-top: 30px;
}

/*main*/

.mainIntro, ul, .ctaWrapper, .modalBody, form[name="emotionFilter"] {
  display: flex;
}

.mainIntro {
  justify-content: space-between;
  padding: 0 50px;
  align-items: flex-end;
}

ul {
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

li {
  list-style: none;
  background-color: #FFFFFF;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
}

li h3 {
  padding-bottom: 30px;
}

li p {
  border-top: 1px solid #B0AAB9;
  padding-top: 30px;
}

/*filter & form styling*/
.icon {
  width: 1.5em;
  height: 1.5em;
  fill: #DFCBCF;
}

.iconWrapper:last-of-type {
  margin-left: 30px;
}

.iconWrapper {
  background-color: #4B546C;
  border: none;
  justify-content: center;
  align-items: center;
}

.iconWrapper:hover {
  cursor: pointer;
}

.iconCaption {
  color: #FFFFFF;
  font-size: 0.9em;
}

.mobileCTA {
  display: block;
}

.desktopCTA {
  display: none;
}

.openForm {
  padding: 15px;
  border-radius: 32px;
  background-color: #DFCBCF;
  color: #4B546C;
  border: none;
}

label {
  color: #4B546C;
}

textarea {
  resize: none;
}

.customBox {
  display:none;
}

.customBox.show {
  display: block;
}

.cancel {
  background-color: #DFCBCF;
  border: 1px solid #4B546C;
  padding: 15px;
  border-radius: 32px;
  color: #4B546C;
  margin-top: 30px;
}

.cancel:hover, .cancel:focus {
  cursor: pointer;
  background-color: #4B546C;
  color: #FFFFFF;
}

.modalBody {
  background-color: #DFCBCF;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

form[name="emotionFilter"] {
  flex-direction: column;
  align-items: center;
}

form[name="emotionFilter"] label {
  margin-top: 30px;
}

form[name="emotionFilter"] select {
  width: 70%;
  border: none;
  overflow-y: hidden;
  scrollbar-width: none;
  text-align: center;
  border-radius: 8px;
  margin-top: 30px;
}

form[name="emotionFilter"] option {
  padding: 10px 20px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  line-height:1.15;
  margin:0
}

button,
input {
  overflow:visible
}

button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {border-style:none;
  padding:0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
  outline:1px dotted;
}

/* footer */

a {
  text-decoration: none;
}

footer {
  text-align: center;
}