button,input,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

.App {
  text-align: center;
  background: #6F86FB;
  margin: 0 auto;
  position: relative;
}

html {
  font-size: 125%;
}

/* Header styling */

header,
footer {
  background: #767481;
}

header {
  color: #FFF;
}

h1 {
  padding-top: 2rem;
  font-size: 4rem;
  color: #FBE46F;
}

h1,
h2,
header p {
  padding: 0 0 1rem 1rem;
  text-align: left;
  max-width: 1200px;
}

button {
  background: #FBE46F;
  border: 3px solid #000;
  border-radius: 10px;
  width: 200px;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background: #767481;
  color: #FFF;
}

ul {
  display: flex;
  flex-wrap: wrap;
  background: #6F86FB;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-evenly;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1rem;
  width: 300px;
  background: #FFF;
  margin: 1rem;
  padding: 1rem;
}

li:hover,
li:focus {
  background: #FBE46F;
}

/* Form styling */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form label,
form textarea,
form p,
form button {
  margin: 10px auto;
  font-weight: 700;
}

form textarea {
  width: 50%;
  height: 10rem;
  font-size: 1rem;
  max-width: 1200px;
  border: 3px solid #000;
  resize: none;
}

form button {
  width: 250px;
}

button,
option,
select,
form button {
  font-size: 1rem;
  margin: 1rem;
}

select {
  width: 200px;
  text-align: center;
}

select,
form button {
  margin: 20px auto;
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

footer p {
  padding: 20px;
}

footer p, 
footer p a {
  color: #FFF;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
   
  h2 {
    font-size: 1rem;
  }

  h1,
  h2,
  header p {
    padding-left: 0.5rem;
  }

  form textarea {
    width: 75%;
  }
}